
{% load static %}
{% load i18n %}

    <div class="modal-header bg-info">
        <h4 class="modal-title">{{ title }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>        
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">      
            <h3><strong>{{ department.name }}</strong></h3>        
            </div>           
        </div>
        </br>
        <div class="col-sm-12">
            <table class="table table-user-information">
                <tbody>
                    <tr>
                        <th class="text-right">{% trans "Name" %}</th>
                        <td>{{ department.name }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">{% trans "Abbreviation" %}</th>
                        <td>{{ department.abbreviation }}</td>
                    </tr>
                    <tr>
                        <th class="text-right">{% trans "Company" %}</th>                       
                        <td>{{ department.company }}</td>                       
                    </tr>
                    <tr>
                        <th class="text-right">{% trans "Description" %}</th>
                        <td>{{ department.description }}</td>
                    </tr>                    
                    <tr>
                        <th class="text-right">{% trans "Created by" %}:</th>
                        <td>{{ department.user_created }} - {{ department.created_at }}</td>
                    </tr>                    
                    <tr>
                        <th class="text-right">{% trans "Updated by" %}</th>
                        <td>{{ department.user_updated }} - {{ department.updated_at }}</td>
                    </tr>   
                                                        
                </tbody>
            </table>
        </div>
    </div>  
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>        
    </div>
