{% load static %}
{% load i18n %}


<table data-js="dataTables" class="table table-bordered" data-lang="{% url 'person:url_department_translate_js' %}">
  <thead>
    <tr class="text-sm-center">
      <th><div class="icheck-danger d-inline">
        <input type="checkbox" data-js="check_all" id="checkbox_main">
        <label for="checkbox_main">{% trans "Choose" %}
        </label>
        </div></th>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Abbreviation" %}</th>
      <th>{% trans "Company" %}</th>                      
      <th>{% trans "Options" %}</th>                                         
    </tr>
  </thead>                  
  <tbody>
    {% for department in departments %}
    <tr class="text-sm-center">
      <td><div class="icheck-danger d-inline">
        <input type="checkbox" name="check_id" value="{{ department.slug }}" id="checkbox_{{ department.slug }}">
        <label for="checkbox_{{ department.slug }}">
        </label>
        </div></td>
      <td>{{ department.name }}</td>
      <td>{{ department.abbreviation }}</td>                                
      <td>{{ department.company }}</td>                                                                      
      <td class="text-center">                        
        <a href="{% url 'person:url_department_edit' department.slug %}"><span class='badge badge-warning'>{% trans "edit" %}</span></a>
        <a href="{% url 'person:url_department_detail' department.slug %}"><span class='badge badge-info'>{% trans "details" %}</span></a>                                                                          
        <a href="" data-url="{% url 'person:url_department_delete' department.slug %}" id="button_modal_{{ department.slug }}" class='badge badge-danger' data-js="link_delete">{% trans "delete" %}</a>
        </form>
      </td>                      
    </tr>                 
    {% endfor %}   
  </tbody>                  
</table>                
