{% load static %}
{% load i18n %}

  <thead>
    <tr class="text-sm-center">      
      <th>{% trans "Name" %}</th>                           
      <th>{% trans "Options" %}</th>                                         
    </tr>
  </thead>                  
  <tbody>
    {% for situation in situations %}
    <tr class="text-sm-center">      
      <td>{{ situation.name }}</td>                                         
      <td class="text-center">                                                                                                          
        <a href="{% url 'person:url_person_edit' person.slug %}"><span class='badge badge-warning'>{% trans "edit" %}</span></a>
        <a href="{% url 'person:url_person_detail' person.slug %}"><span class='badge badge-info'>{% trans "details" %}</span></a>                                                                          
        <a href="" data-url="{% url 'person:url_person_delete' person.slug %}" id="button_modal_{{ person.slug }}" class='badge badge-danger' data-js="link_delete">{% trans "delete" %}</a>
        </form>
      </td>                      
    </tr>                 
    {% endfor %}   
  </tbody>                  
              
