{% load static %}
<table data-js="dataTables" class="table table-bordered">
                  <thead>
                    <tr class="text-sm-center">
                     <th><div class="icheck-danger d-inline">
                        <input type="checkbox" data-js="check_all" id="checkbox_main">
                        <label for="checkbox_main">Selecione
                        </label>
                        </div></th>
                      <th>Nome</th>
                      <th>Nome Fantasia</th>
                      <th>CNPJ</th>                      
                      <th>Email</th>   
                      <th>Opções</th>                                         
                    </tr>
                  </thead>                  
                  <tbody>
                    {% for company in companies %}
                    <tr class="text-sm-center">
                      <td><div class="icheck-danger d-inline">
                        <input type="checkbox" name="check_id" value="{{ company.slug }}" id="checkbox_{{ company.slug }}">
                        <label for="checkbox_{{ company.slug }}">
                        </label>
                        </div></td>
                      <td>{{ company.name }}</td>
                      <td>{{ company.fantasy_name }}</td>                                
                      <td>{{ company.cnpj }}</td>                                                                       
                      <td>{{ company.email }}</td>                                       
                      <td class="text-center">                        
                        <a href="{% url 'person:url_company_edit' company.slug %}"><span class='badge badge-warning'>editar</span></a>
                        <a href="{% url 'person:url_company_detail' company.slug %}"><span class='badge badge-info'>detalhes</span></a>                                                                          
                        <a href="" data-url="{% url 'person:url_company_delete' company.slug %}" id="button_modal_{{ company.slug }}" class='badge badge-danger' data-js="link_delete">deletar</a>
                        </form>
                      </td>                      
                    </tr>                 
                    {% endfor %}   
                  </tbody>                  
                </table>                
