{% load static %}
{% load i18n %}

    {% for person in people %}
    <tr class="text-sm-center">      
      <td>{{ person.user.cpf }}</td>
      <td>{{ person.name }}</td>                                
      <td>{{ person.user.email }}</td>                                                                       
      <td>        
          <div class="custom-control custom-switch">
              <input type="checkbox" {% if person.user.is_active  %} checked {% endif %}  class="custom-control-input js-checkbox-switch" name="sw" id="customSwitch_{{ person.slug }}" data-token="{{ csrf_token }}" data-url="{% url 'person:url_person_deactive' person.slug %}" > 
              <label class="custom-control-label" for="customSwitch_{{ person.slug }}"></label>
          </div>          
      </td>                                       
      <td class="text-center">                        
        <a href="{% url 'person:url_person_edit' person.slug %}" class="btn btn-warning btn-sm"><i class="fas fa-pencil-alt"></i>{% trans "edit" %}</a>
        <a href="{% url 'person:url_person_detail' person.slug %}" class="btn btn-info btn-sm"><i class="fas fa-folder"></i>{% trans "details" %}</a>                                                                          
        <a href="" data-url="{% url 'person:url_person_delete' person.slug %}" id="button_modal_{{ person.slug }}" class='btn btn-danger btn-sm js-link-delete' data-js="link_delete"><i class="fas fa-trash"></i>{% trans "delete" %}</a>        
      </td>                      
    </tr>                 
    {% endfor %}   
               
