{% load static %}
{% load i18n %}


<table id="person_table" data-js="dataTables" class="table table-bordered" data-lang="{% url 'person:url_translate_datables_js' %}">
  <thead>
    <tr class="text-sm-center">
      <th><div class="icheck-danger d-inline">
        <input type="checkbox" data-js="check_all" id="checkbox_main">
        <label for="checkbox_main">{% trans "Choose" %}
        </label>
        </div></th>
      <th>{% trans "CPF" %}</th>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Email" %}</th>                      
      <th>{% trans "Active" %}</th>   
      <th>{% trans "Options" %}</th>                                         
    </tr>
  </thead>                  
  <tbody>
    {% for person in people %}
    <tr class="text-sm-center">
      <td><div class="icheck-danger d-inline">
        <input type="checkbox" name="check_id" value="{{ person.slug }}" id="checkbox_{{ person.slug }}">
        <label for="checkbox_{{ person.slug }}">
        </label>
        </div></td>
      <td>{{ person.user.cpf }}</td>
      <td>{{ person.name }}</td>                                
      <td>{{ person.user.email }}</td>                                                                       
      <td>        
          <div class="custom-control custom-switch">
              <input type="checkbox" {% if person.user.is_active  %} checked {% endif %}  class="custom-control-input js-checkbox-switch" name="sw" id="customSwitch_{{ person.slug }}" data-token="{{ csrf_token }}" data-url="{% url 'person:url_person_deactive' person.slug %}" > 
              <label class="custom-control-label" for="customSwitch_{{ person.slug }}"></label>
          </div>          
      </td>                                       
      <td class="text-center">                        
        <a href="{% url 'person:url_person_edit' person.slug %}"><span class='badge badge-warning'>{% trans "edit" %}</span></a>
        <a href="{% url 'person:url_person_detail' person.slug %}"><span class='badge badge-info'>{% trans "details" %}</span></a>                                                                          
        <a href="" data-url="{% url 'person:url_person_delete' person.slug %}" id="button_modal_{{ person.slug }}" class='badge badge-danger' data-js="link_delete">{% trans "delete" %}</a>
        </form>
      </td>                      
    </tr>                 
    {% endfor %}   
  </tbody>                  
</table>                
