{% extends 'core/base.html'%}
{% load crispy_forms_tags %}

{% block content %}
<div class="card col-6">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Defina uma nova senha</p>

      <form method="post" >
        {% csrf_token %}
        {{ form|crispy }}        
        <div class="row">          
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Enviar</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
          
    </div>
    <!-- /.login-card-body -->
</div>

{% endblock content %}