{% load static %}

<!-- CORE CSS-->
    <link href="{% static 'core/css/materialize.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'core/css/style.css' %}" type="text/css" rel="stylesheet">
    <!-- Custome CSS-->
    <link href="{% static 'core/css/custom/custom.css' %}" type="text/css" rel="stylesheet">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="{% static 'core/vendors/perfect-scrollbar/perfect-scrollbar.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'core/vendors/flag-icon/css/flag-icon.min.css' %}" type="text/css" rel="stylesheet">

    <link href="{% static 'core/css/style_dev.css' %}?{% now "U" %}" type="text/css" rel="stylesheet">