  {% load static %}
  

 <!-- jQuery Library -->
    <script type="text/javascript" src="{% static 'core/vendors/jquery-3.2.1.min.js' %}"></script>
    <!--materialize js-->
    <script type="text/javascript" src="{% static 'core/js/materialize.min.js' %}"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="{% static 'core/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="{% static 'core/js/plugins.js' %}"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script type="text/javascript" src="{% static 'core/js/custom-script.js' %}"></script>

  