  {% load static %}
  
  <!-- plugins:js -->
  <script src="{% static 'core/vendors/js/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  
  <!-- Plugin js for this page-->
  <script src="{% static 'core/vendors/chartjs/Chart.min.js' %}"></script>
  <script src="{% static 'core/vendors/jvectormap/jquery-jvectormap.min.js' %}"></script>
  <script src="{% static 'core/vendors/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
  <!-- End plugin js for this page-->
  
  <!-- inject:js -->
  <script src="{% static 'core/js/material.js' %}"></script>
  <script src="{% static 'core/js/misc.js' %}"></script>
  <!-- endinject -->
  
  <!-- Custom js for this page-->
  <script src="{% static 'core/js/dashboard.js' %}"></script>
  <!-- End custom js for this page-->