{% load static %}

{% block css %}
<!-- iCheck for checkboxes and radio inputs -->
 <link rel="stylesheet" href="{% static 'core/plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
{% endblock css %}

<div class="card-body">
    <div >
        <table class="table table-bordered">
            <thead>
                <tr class="text-center">
                    <th><div class="icheck-danger d-inline">
                        <input type="checkbox" data-js="check_all" id="checkbox_main">
                        <label for="checkbox_main">Desativar
                        </label>
                      </div></th>
                    <th>CPF</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Criado em</th>
                    <th colspan='3'>Opções</th>
                </tr>
            </thead>
            <tbody>

                {% for obj in objects %}
                    <tr class="text-center">
                        <td><div class="icheck-danger d-inline">
                        <input type="checkbox" name="check_id" value="{{ obj.id }}" id="checkbox_{{ obj.id }}">
                        <label for="checkbox_{{ obj.id }}">
                        </label>
                      </div></td>
                        <td>{{ obj.cpf }}</td>
                        <td>{{ obj.first_name }} {{ obj.last_name}}</td>
                        <td>{{ obj.email }}</td>
                        <td>{{ obj.date_joined }}</td>
                        <td>
                            <a href="{% url 'signup:url_signup_edit' obj.id %}"><span class='badge badge-warning'>editar</span></a>
                            <a href="{% url 'signup:url_signup_detail' obj.id %}"><span class='badge badge-info'>detalhes</span></a>
                            <a href="{% url 'signup:url_signup_delete' obj.id %}" id="button_modal_{{ obj.id }}" class='badge badge-danger' data-js="link_delete">deletar</a>                           
                        </td>
                    </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<div class="card-footer clearfix ">
<div class="click_page">
    {% if objects.has_other_pages %}
        <ul class="pagination pagination-sm m-0 float-right" >            
            {% if objects.has_previous %}
                <li class="page-item"><a class="page-link page_number" href="?page={{ objects.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="page-item">&laquo;</li>
            {% endif %}
            
            {% for i in objects.paginator.page_range %}
                {% if objects.number == i %}
                    <li class="active page-item">{{ i }}</li>
                {% else %}
                    <li class="page-item"><a class="page-link page_number" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            
            {% if objects.has_next %}
                <li class="page-item"><a class="page-link page_number" href="?page={{ objects.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="page-item">&raquo;</span></li>
            {% endif %}
        </ul>
    {% endif %}
</div>
    <button data-url="{% url 'signup:url_signup_delete_all' %}" data-js="click_checkbox" class="btn btn-danger" ><i class="fas fa-minus-circle fa-1x"></i>Remover</button>
</div>
