<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    {% include 'core/_meta.html' %}
    
    <title> {% block title %} {% endblock title %} </title>
    {% include 'core/_favicon.html' %}    

    <!-- CCS DO TEMPLATE PRINCIPAL-->
    {% include 'core/_css.html' %}       
    
    <!-- CCS DESENVOLVEDOR-->
    {% block css %}           
    {% endblock css %}  

  </head>    
  <body>
     <!-- Start Page Loading -->
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->

    {% include 'core/_navbar.html' %}

    <div id="main">
      <!-- START WRAPPER -->
      <div class="wrapper">      
        
        {% include 'core/_sidebar_left.html' %}  

        <section id="content">
          <!--start container-->
          <div class="container">
            
            {% block message_initial %}
            {% endblock message_initial %}

            {% block content %}
            {% endblock content %}
          </div>
        </section>          
        {% include 'core/_sidebar_right.html' %} 

      </div>
    </div>

    {% include 'core/_footer.html' %}
      

    <!-- Optional JavaScript -->  
    {% include 'core/_js_after_body.html' %}
       {% block js %}
    {% endblock js %}
  </body>
</html>