<!doctype html>
<html lang="pt-br">
  <head>   
    
    <!-- Required meta tags -->
    {% include 'core/_meta.html' %}

    <title> {% block title %} {% endblock title %} </title>
    {% include 'core/_favicon.html' %}    

    <!-- CCS DO TEMPLATE PRINCIPAL-->
    {% include 'core/_css.html' %}       
    
    <!-- CCS DESENVOLVEDOR-->
    {% block css %}           
    {% endblock css %}  

  </head>    
  <body class="hold-transition sidebar-mini">    

  <!-- Site wrapper -->
  <div class="wrapper">

    {% include 'core/_navbar.html' %}
          
    {% include 'core/_sidebar.html' %}  

        
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      {% include 'core/_breadcrumb.html' %}

      <!-- Main content -->
      <section class="content">
        {% block message_initial %}
        {% endblock message_initial %}

        {% block content %}
        {% endblock content %}
      </section>
    </div>
    <!-- /.content-wrapper -->
            
          
    {% include 'core/_footer.html' %}
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

</div>
<!-- ./wrapper -->
      
    <!-- JavaScript -->  
    {% include 'core/_js_after_body.html' %}
    
    {% block js %}
    {% endblock js %}
  </body>
</html>